<div style="width: 50%; margin: auto;">
  <h1 id="tableLabel" style="text-align: center">Employees</h1>

  <table *ngIf="employeeWorkingHours" class="employee-table" style="width: 100%;">
    <thead>
        <tr style="background-color: lightgrey">
            <th>Name</th>
            <th style="border-left: 1px solid grey;">Total time in month</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeWorkingHoursSorted" [ngStyle]="{'background-color': employee[1] < 100 ? '#ffcccc' : 'inherit'}">
          <td>{{ employee[0] }}</td>
          <td style="border-left: 1px solid #ccc;">{{ employee[1] }}</td>
        </tr>
    </tbody>
  </table>
</div>
